/*////////////////////////////////Navbar////////////////////////////////////*/

.nav{
  height:10vh;
  width:100vw;
  background-color: #00235B;
  position:fixed;
  top:0;
  right:0;
}
.logo{
  height:55px;
  width:105px;
  margin:10px 40px 10px 40px;
}
ul{
  list-style: none;
  float: right;
  margin-right: 50px;
  margin-top: 30px;
  padding: 0;
}
li{
  display:inline-block;
  margin:0px 30px 0px 30px;
  color:whitesmoke;
}
a{
  text-decoration: none;
  color:whitesmoke;
}
h2{
  font-size: 30px;;
}
li:hover{
  text-decoration: underline;
  cursor:pointer;
}
.checkbtn{
  font-size: 30px;
  color: whitesmoke;
  float:right;
  margin-right: 40px;
  margin-top: 20px;
  cursor:pointer;
  display:none;
}
#check{
  display:none;
}



@media (max-width:1260px){
  li{
    font-size: 13px;
  }
}


@media (max-width:983px){
 .checkbtn{
  display:block;
 }
 ul{
  position:fixed;
  width:100%;
  height:100vh;
  left: -100%;
  text-align: center;
  line-height: 50px;
  background-color:#ECF2FF;
  margin-top:0 ;
  transition:all .5s;
 }
 li{
  display:block;
  color:black;
  font-size: 20px;
  font-weight: bold;
  margin: 50px 0;
 }
 a{
  color: black;
 }
 #check:checked ~ ul{
     left:0;
 }
}


/*///////////////////////////////////////////////Home/////////////////////////////////*/
.home{
  margin: auto;
  width:70vw;
  background-color:#ECF2FF;
  padding:30px;
  text-align: center;
  
}
.heading{
  text-align: center;
}
img{
  width:60vw;
  height:auto;

}
h5{
  display: inline;
}
.right{
  float: right;
  margin-right: 5vw;
}
.left{
  float: left;
  margin-left: 5vw;
}
.clear{
  clear: both;
}
button{
  background-color: #00235B;
  float:right;
  border: none;
  border-radius:5px;
  padding:5px;
  margin-right: 5vw;
  width:130px;
  height:40px;
}
button a{
  color:whitesmoke;
}
hr{
  margin-top: 80px;
  background-color: #00235B;
}
